/* In the body and container class,we have put some styling to make the navbar sticky */
body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight:400;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
.container{
    flex:1;
}
/* body{
    background-color:pink;
} */

/* styling for navbar */
.navbar{
    min-height:5rem;
    background-color:#fff;
}
/* styling for compass logo in navbar */
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222 !important;
}

/* styling for footer */
.f-info-social{
    display:flex;
    align-content:center;
    justify-content:center;    
}
.f-info-social .fa-brands{
    font-size:1.3rem;
    margin:0.5rem;
}
.f-info-links{
    display:flex;
    justify-content: center;
}
.f-info-links a{
    margin:0.2rem;
    text-decoration:none;
    color:#222;
}
.f-info-links a:hover{
    text-decoration:underline;
}
.f-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#ebebeb;
    padding:1rem;
    margin-top:1rem;
    
}

/* card */
.listing-card{
    border:none !important;
    margin-bottom:2rem;
}
/* image */
.card-img-top{
    border-radius:1rem !important;
    object-fit:cover !important;
    width:100% !important;
}


/* removing padding from card body */
.card-body{
    padding:0 !important;
}
.card-text{
    margin:0 !important;
}

/* removing underline from cards */
.listing-link{
    text-decoration:none;
}

/* hover effect on cards */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    background-color:#fff;
    opacity:0.2;
}
.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* show image route */
.show-img{
    height:45vh !important;
}

.show-btns{
    display:flex;
}
