<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new listing</title>
</head> -->
<% layout("layouts/boilerplate") %>
<body>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="row">
        <div class="col-8 offset-2" >
        <div class="mb-3 mt-2">
            <label for="title" class="form-label">Title: </label>
            <input type="text" class="form-control" id="title"name="listing[title]" placeholder="Enter a catchy title" required>
        
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please Enter a valid title</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea type="text" class="form-control" id="description"name="listing[description]"  rows="3" cols="20" placeholder="Type description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" class="form-select" aria-label="Default select example" name="listing[category]" required>
                
                <option value="iconic city">Iconic City <i class="fa-solid fa-city"></i></option>
                <option value="mountains">Mountains</option>
                <option value="rooms">Rooms <i class="fa-solid fa-bed"></i></option>
                <option value="castle">Castle</option>
                <option value="pool">Pool</option>
                <option value="camping">Camping</option>
                <option value="farms">Farms</option>
                <option value="arctic">Arctic</option>
                <option value="other" selected>Other</option>
            </select>
        </div>
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image link: </label>
            <input type="text" class="form-control" id="image" name="listing[image]">
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image </label>
            <input type="file" class="form-control" id="image" name="listing[image]" required>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price: </label>
                <input type="number" class="form-control" id="price" name="listing[price]" placeholder="ex. 1200" required>
        
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country: </label>
                <input type="text"  class="form-control"id="country" name="listing[country]" placeholder="ex. India" required>
        
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">Location: </label>
            <input type="text" class="form-control" id="location" name="listing[location]" placeholder="ex. Delhi" required>
        
        </div>
        
         <br>         
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
        </div>
        </div>
    </form>
    
</body>
